  body {  
    overscroll-behavior: contain;
    font-family: "Lato","Arial", sans-serif;
    min-height:100%;
    margin:0;
    padding:0; 
    background:white;    
  }
  * {
    box-sizing: border-box;
  }
    

  #preview
  {
  color:#cc0000;
  font-size:12px
  }
  .imgList 
  {
  max-height:50px;
  margin-left:5px;
  border:1px solid #dedede;
  padding:4px;	
  float:left;	
  }

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    border:2px solid white;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 100px;
    font-size: 17px;
  
    width:80%;
    left:10%; right:10%;
    margin:0 auto;
    height:auto; 
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  #dv_log{
    top: 50%;  left: 50%;
    -webkit-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);background:none;padding:30px;
  }
  #dv_left_log{
    float:left;position:relative;width:60%;height:100%;padding:0% 0 0% 0;color:white;top:0;font-weight:bold;background-color:none;
  }
    #dv_left_log img{
      position:absolute;top:0px;left:0px;width:100%;height:100%;background:none;
    }
    #dv_left_log span{
      position:absolute;width:100%;height:100%;top:40px;left:15px;text-align:center;font-size:64px;text-shadow: 2px 2px 8px black;
    }
  
  #dv_right_log{
    float:right;width:40%;height:100%;background:none;
  }

  .dv_right_box{
    width:100%;height:100%; border-radius:5px; padding:25px; text-align:center;background:lightgray;
  }
    .dv_right_box div{
      text-align:left;height:auto; font-size:16px;width:100%;background:none;
    }
    .dv_right_box input{
      width:100%;height:30px;text-align:center;border-radius:5px;
      background:white;
    }

    .dv_right_box button{
      margin-top:20px;width:80%;height:40px;color:white;border:1px solid gray;border-radius:5px;cursor:pointer;
    }
    .dv_right_box p{
      width:100%;height:auto;padding:0px;margin:0px;margin-top:10px;font-size:12px;text-align:center;
    }
    
  #fmsg{
    margin-top:20px; padding:0px;height:100px;text-align:left; font-size:16px;width:100%;background:none;
  }

/*     
.page_class {  
}
*/

#popadmin {    
  display:none;				
  width:100%;  
  font-size:20px;  
  box-shadow: 0px 0px 0px;
  position:absolute;width:100px;height:auto;top:50px;right:0;margin-right:10px;z-index:500;box-shadow: 0px 0px 2px;                                  
  font-size:14px;padding:5px;color:black;background-color: whitesmoke;
}

#popadmin a {
  padding: 2%;  
  width:96%;
  color:grey;
  transition: 0.3s;
  text-decoration: none;
  display: block;
}

#popadmin a:hover {
  color:white;  
  background-color:#333333;    
}

#zoom_pic { height:auto; }
#zoom_tilt { height:60px;font-size:22px; }
#xdivViewer { display:block; }
#xdivMeters { width:26%; }
#zoom_tilt2 { height:550px; }
#zoom_dtl { height:80px;font-size:16px; }
#zoom_foot { height:50px; }
.view_dtl_HD { height:20px; }
.view_dtl_L { width:20%; }
.view_dtl_R { width:80%; }

/*************je_msg************************/
.je_msg_btn {
  background:white;
  padding: 1em 2em;
  padding: 5px;
  width: 100px;
  height: 35px;
  color:black;
  border:1px solid black;
  border-radius: 6px;
  font-weight: bold;
}

.je_msg_btn:hover{
  background: #333;
  color:white;
}

.class_cutoff{
  font-size:18px;
}

#logger{  
  padding:20px 20px 0 0;
}

.repOpt{ 
  position:absolute;  

  width:400px;height:auto;
  z-index:150;  
  border:0px solid black;  
  box-shadow: 0px 0px 8px;    
  font: 14px Arial;
  background-color:white;  
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-center{
  background-color:none;    
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal {
  display:none;
  position: fixed;
  z-index: 100; 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  background-color: #f4f4f4;  
  /* margin: 30% auto;  */
  width: 500px;  
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);  
  color:black; font-size:14px;font-weight:normal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-header h1, .modal-footer h2 {
  margin:0;
}
.modal-header{
  background: #3b5998;
  padding: 10px;
  color: #fff;  
}
.modal-body{
  padding: 10px 20px; 
}
.modal-footer{
  background: #3b5998;
  padding: 5px;
  color: #fff;
  height: 15px;
  font-size: 12px;
  text-align: center;
}

/* winpop CSS  */
#winpop {  
  width: 400px;
}
#div_winpop{  
  height:300px;
}

/* LOOKUP CSS BARANGAY */
.autocom {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;  
  
  width:100%;height:93%;margin-top:1%;border:1px solid lightgray;background-color: #f1f1f1;overflow:auto;
}

.lookup{   
  border:0px solid black;  
  box-shadow: 0px 0px 8px;
  position:absolute;
  width:500px;height:680px;
  font: 14px Arial;
  background-color:white;
  padding:0.5%;
  
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* ----------------------------- */

.head_color,.head_color2{
  text-align:center;  
}

.jheader {  
  background-color: #333;
  position: fixed;
  top: 0; left:0;
  width: 100%;
  z-index: 9000;
}

.cls_fixed {
  /*position: fixed; 
  left:0;bottom: 0; */
  color: white; 
  width: 100%;text-align:center;padding:4px;
  border:1px solid gray;
  /*z-index: 2500; */
}

.menu {
  float:left;
  width:20%; 
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.menu_bar {
  width:100%;height:35px;
}

.sidenav {	  
  width:0%;
  position: absolute;
  z-index: 600;
  overflow-x: hidden;
  transition: 0.5s; 
  padding-top: 0px;    
  background-color: #525253;   
  background-color: gray;
  background-color: rgba(0,0,0,0.6);
  background:black;
  opacity:1;
  height:100%;
  top:0px;
  right:0px;
}

.sidenav a {
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  font-size: 20px;    
  color: gray;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:white;
  background-color:#333333;  
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
} 


/* version 2 */
#dv_user {
    float:right;width:auto;height:100%;position:relative;
  }
    #dv_user img{
      cursor: pointer;
      float:left;height:100%;padding:15px 0 15px 5px;background:none;
    }
    #dv_user span{
      float:left;font-size:12px;width:auto;
    }
#dv_log {
  width:950px;height:430px;
}
.nw_menu, .nw_menu_sel{ height:50px;margin-top:40px; }

.nw_menu{
  float:left;margin-left:5px;
  width:85%;text-align:center;padding:0px;cursor:pointer;background:none;
}
  .nw_menu img{
    height:65%;padding:0px;
  }
  .nw_menu span{
    float:left;height:35%;width:100%;font-size:12px;color:white;
    background:none;
  }

.nw_menu_sel{
  display:none;
  float:left;padding:0px;width:15%;
  background-image:url('gfx/leftArrow.png'); 
  /* background-position: 0px 1px; */
  background-size:100%;
  background-repeat:no-repeat;
  /*
  height:100%;width:auto;
  float:right;
  font-size:20px;
  */  
}  

#div_main_left{ width:80px; }
#id_LiveTime{ font-size:12px; }

.xdiv_main_left{
  padding:50px 0 0 0;
}

.del_edit {
  float:right;padding:1.5px;width:100px;height:100%;background:none;
 }
     .del_edit img {
       height:100%;padding:3px;
     }

#div_axes_left{
  float:left;width:50%;height:100%;padding:10px;margin-top:0%;font-size:12px;color:black;background-color:none;
}
#div_axes_right{
  float:left;height:100%;width:50%;
}

.div_axes_boxdtl{
  width:100%;height:30px;margin-top:1%;padding:2px;
}
  .div_axes_boxdtl span{
    float:left;width:40%;margin-top:6px;margin-left:5%;color:black;
  }
  .div_axes_boxdtl input{
    float:right;width:50%;height:100%;margin-left:0%;text-align:center;
  }
 
#admin2{
  width:100%;height:50px;font-size:12px;color:green;padding:0px 0 0 0;
}     
.mnu1_page{
  display:none;width:100%;height:250px;border:1px solid black;background:none;padding:0px;
}
#mnu1_box {
  width:1500px;height:100%;margin:0px auto;font-size:18px;padding:10px;background-color:none;
}

.mnu1_div_btns{
  /* position:absolute;left:0px;bottom:0px; */
  width:100%;height:40px;font-size:14px;padding:5px;background:cyan;
}
    .mnu1_div_btns input{
      float:right;margin-right:5px;width:60px;height:100%;cursor:pointer;color:white;
    }
.mnu1_btn {
  float:right;margin-top:1%;margin-right:1%;width:110px;height:100%;cursor:pointer;color:white;background-color:coral;
}
#mnu1_panel {
  float:left;width:70%;height:100%;padding:10px;border:1px solid red;background:none;
}
#mnu1_access {
  float:right;width:30%;height:100%;border:1px solid red;background-color:none;    
}
.mnu1_head {
  width:100%;height:40px;font-size:16px;color:white;margin:0px;padding:0px;background-color:blue;
}
.mnu1_body{
  width:100%;height:50%;padding:5px;font-size:12px;background-color:none;
}
.axes_width_uid{ width:235px;background:none; }
.axes_width_upass{ width:235px; }
.axes_width_uname{ width:321px;background:none; }
.axes_width_utype{ width:235px; }
.axes_width_ucode{ width:235px;background:none; }
.axes_width_command{ width:217px;height:100%; }

.funder_width_code{ width:435px;background:none; }
.funder_width_name{ width:826px; }
.funder_width_command{ width:217px;height:100%; }

.mngr_width_code{ width:435px;background:none; }
.mngr_width_name{ width:826px; }
.mngr_width_command{ width:217px;height:100%; }

#mnu2_left{
  float:left;padding:50px;
  width:900px;
  height:100%;
}

#mnu3_left{
  float:left;width:30%;height:100%;padding:10px;background:blue;
}
#mnu3_right{
  float:left;width:70%;height:100%;border:0px solid gold;background:green;
}
#mnu3_filter{
  width:100%;height:40px;font-size:14px;padding:0px 0 5px 0;background-color:none;
}
  .mnu3_filter_title{
    float:left;width:20%;height:100%;padding:9px 0 0 0;background:none;
  }
  .mnu3_filter_select{
    float:left;width:80%;height:100%;padding:0 0px 0 0;
  }

#div_chatters{
  width:100%;text-align:left;padding:1px;border:1px solid gray;overflow-y:scroll;overflow-x:hidden; 
  background:none;
}

#fm_msg{
  display:block;pointer-events:none;
  width:100%;height:60px;padding:2px;border:1px solid gray;background-color:none;
}

#div_btns{
  float:left;height:35px;margin-top:10px;padding:0 8px 0 0;font-size:14px;
}

#div_msg{ width:100%;padding:0px;border:1px solid gray;background-color:white; }



/* board box panel */
#db_panel_maine{
  width:100%;height:auto;padding:10px;margin-top:50px;
}
#db_panel_box {
  height:150px;
}
.cls_bordbox {
  float:left;width:33.33333333333333%;height:100%;
}
  .cls_bordbox_small, .cls_bordbox_big, .cls_bordbox_gfx {
    width:100%;height:33.33333333333333%;
  }

  .cls_bordbox_small{
    padding:8% 0 0 0;
    font-size:16px;background:none;
  }
  .cls_bordbox_big{    
    padding:6% 0 0 0;
    font-size:25px;font-weight:bold;   
  }

  .cls_bordbox_gfx{    
    background-size:50% 100%;    
    background-position: center;
    background-repeat:no-repeat;
  }
  
#btnViewMap{ display: none; }

#div_projects{ height:100%; border:0px solid orange; }

.m4_datum {
  width:100%;height:24.5px;margin-top:1px;text-align:left;border:0px solid black;background:none;
}
  .m4_datum span{
    float:left;height:100%;width:170px;padding:3px;overflow:auto;background:none;
  }
  .m4_datum input{
    float:left;height:100%;width:180px;border:0px;overflow:auto;border-radius:0px;color:black;background:cyan;
  }  
  .m4_datum input[type="checkbox"]{
    float:left;height:100%;width:20px;font-size:10px;border:0px;overflow:none;margin:0px;padding:0px;
  }
  .m4_datum button{
    float:left;width:20px;height:100%;border:0px solid black;cursor:pointer;font-size:16px;padding:0px;color:white;background:none;
  }
  .m4_datum select{
    float:left;height:100%;width:180px;border:0px;overflow:auto;background:green;
  }
  .m4_datum div{
    float:left;height:100%;width:180px;border:0px;overflow:auto;border-radius:5px;color:black;background:white;
  }
  .m4_datum p{ 
    float:left;height:100%;width:150px;margin:0px;padding:4px;background:none; 
  }

#div_datum{
  height:auto;margin-top:10px;overflow:auto;font-size:14px;
}

#m4_contact{ margin-top:45.5px; }
#m4_site{ margin-top:20px; }
#m4_projstart{ margin-top:15px; }
#m4_projteam{ margin-top:50px; }
.site_imgbox{
  float:left;position:relative;margin-top:3px;width:280px;height:140px;text-align:center;overflow:none;border:1px solid black;
}

.cls_geo{
  float:left;width:60px;background-color:yellow;
}
.div_txComm{
  height:45px;
}

#mnu6_head{
  height:60px;
  padding:10px 0px 10px 0px;
  background:none;
}
  #mnu6_head span{
    float:right;width:auto;
    padding:10px 0 0 0;height:100%;
    margin-right:20px;
    background:none;
  }
  #mnu6_head div{
    float:right;width:auto;border:0px;border-radius:8px;
    height:100%;
    margin-right:20px;
    padding:10px;
    cursor: pointer;
  }

#mnu6_body{
  overflow:auto;background:none;
}
#mnu6_box{
  width:1200px;height:100%;background:none;
}
.cls_rep{ 
  float:left;margin-left:5%;margin-top:70px;
  width:300px;height:500px;border:3px solid black;border-radius:20px;text-align:center;padding:25px;color:white;background:gray;
}
  .cls_rep div{ font-size:22px;width:100%;height:30%;padding:10px 0 0 0;background:none; }
  .cls_rep img{ width:auto; max-width:100%;height:40%;padding:30px; background:none;}  
  .cls_rep button{ font-size:12px;width:150px;height:10%;margin-top:30%;border-radius:8px;cursor: pointer;border:0px solid none; }
  
#div_edit_dtl_box{
  float:right;width:50%;height:100%;padding:1%;margin-top:0%;font-size:15px;color:black;background-color:lightgray;
}

#div_add_axes{ overflow:hidden; }

.class_center_div{
  position:absolute; width:100%; height:100%; padding:1%;display: flex; align-items: center;
  justify-content: center;
}

#mnu7_head{
  height:40px;
  padding:5px;
  background:none;
}  
#mnu7_body{
  overflow:auto;background:none;
}
#mnu7_foot{
  height:60px;
  padding:10px 0px 10px 0px;
  background:none;
}
#mnu7_box{
  width:100%;height:100%;background:none;
}

.myView {
  display:none;
  z-index: 600;
  height: 100%;
  width: 100%;
  /* position:absolute;  */
  scroll-behavior: smooth; 
  /* transition: 0.5s;  */
  background-color: rgba(0,0,0,0.6);
  background:dimgray;
}

.myView_dtl{
  width:100%;padding:0px;overflow:auto;border:0px solid red;color:black;background:none;
}

.back_main{
  height:50px;width:100%;padding:5px;text-align:left;color:white;
  position: relative;border:1px solid white;
}

.back_class{
  float:left;height:100%;font-size:20px;background:none;font-weight:normal;
  width:100px;cursor:pointer;background:none;  
}
    .back_class img{
      float:left;background:none;margin-left:10px;background:none; 
    }
    .back_class span{
      float:left;margin-left:5px;color:none;height:100%;padding:8px 0 0 0;
    }

.cap_class{
  float:right;width:auto;height:100%;font-size:17px;font-weight:bold;margin-right:10px;text-align:right;padding:8px 5px 0 0;
}
.cap_mid_class{
  display: none;
  position:absolute;top:0px;left:0px;height:100%;width:100px;padding:0px;background:none;
}

.cls_vid_box{
  float:left;width:180px;height:200px;margin-left:1%;margin-top:1%;font-size:12px;
}

#fm_videos{
  height:150px;border:1px solid red;
}
#head_fm_video{
  width:100%;height:10%;
}
#left_fm_video{
  display:block;float:left;width:40%;height:90%;background:gray;padding:2px;
}
#right_fm_video{
  float:right;width:60%;height:90%;background:darkgray;padding:5px;
}
.cls_vid_btn {
  float:left;cursor:pointer;height:100%;width:70px;border:1px solid lightgray;border-radius:10px;color:white;
}
/*
.class_footer{
  float:left;height:100%;width:100%;cursor:pointer; 
}
    .class_footer img{
      float:left;height:auto;max-height:100%;width:auto;margin-left:20%;background:none;           
    }
    .class_footer span{
      float:left;height:100%;width:auto;padding:7px 0 0 10px;font-size:22px;background:none;
    }
*/

.fm_class_box{
  float:left;width:20%;height:100%;margin-left:1%;background:none;
}

.fm_class_footer{
  float:left;height:100%;width:100%;text-align:center;cursor:pointer;padding:5px;border:1px solid lightgray;
}
    .fm_class_footer img{
      height:auto;max-height:70%;
      float:none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
    .clafm_class_footerss_footer span{
      font-size:12px; padding:0px; margin:0px; text-align:center;height:30%;width:100%;
    }

/* #user_main{ margin:0 auto;width:1200px;font-size:14px; } */
#user_main{ padding:0% 0% 0% 0%;font-size:14px; }

.cls_dtl_shadow_dispboard{ height:70px;width:100%;padding:10px;border:0px solid black;background:none; }
  .cls_dtl_shadow_dispboard1{ width:100%;height:70px;background:white;opacity:0.5;border:1px solid black;border-radius:8px;margin-top:0px; }
  .cls_dtl_shadow_dispboard2{ width:96%;height:70px;top:10px;border:0px solid white;border-radius:8px;color:white;background:none; }

.cls_dtl_dispboard {
  width:100%;height:70px;font-size:16px;text-align:left;padding:5px;margin-bottom:0px;color:black;background:white;
}
  .cls_dtl_dispboard div {
    border:0px solid black;
  }    
  .cls_dtl_dispboard_img { float:left;width:70px;height:100%;background:none; }
    .cls_dtl_dispboard_img2{ height:100%;width:60px;border:1px solid black;border-radius:8px;background:white; }
  .cls_dtl_dispboard_candi { float:left;width:50%;height:100%;color:black;background:none; }
    .cls_dtl_dispboard_candi_1 { width:100%;height:42%;font-size:20px;padding:0px 0 0 0;color:black;background:none; }
    .cls_dtl_dispboard_candi_2 { width:100%;height:35%;color:black;font-size:18px;font-weight:bold;background:none; 
        text-shadow: none;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
    .cls_dtl_dispboard_candi_3 { width:100%;height:23%;color:black;font-size:14px;font-weight:bold;background:none; 
      text-shadow: none;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  .cls_dtl_dispboard_votes { float:left;width:30%;height:100%;font-size:45px;padding:5px 10px 0 0;text-align:left;background:none; }  


#dv_summary{ float:right;width:100%;height:100%;padding:20px 0 20px 5px;border:1px solid lightray;background:none; }

.cls_id_places{
  display:none;float:left;width:auto;height:100%;margin-left:10px;padding:0 10px 0 10px;cursor:pointer;font-size:13px;font-weight:normal;
  border-radius:5px; border:1px solid lightgray;  color:white;background:none;
}

  .cls_show_places :hover{
    background: lightgray;
    color:black;
  }



#page_main2{ padding:0 50px 0 50px; }

#sys_tilt{ height:60%;width:100%;font-size:20px;padding:5px 0 0 0;overflow:auto;background:none; }
#sys_tilt2{ height:40%;width:100%;font-size:14px;overflow:auto;padding:0px 0 0 0;background:none; }

/* design 3 ======================================================= */

.cls_candi_box{ width:100%;max-width:100%;height:auto;margin-top:0px;padding:20px 0 10px 0;background:none; }
.cls_pos_head{
  width:auto;height:100%;padding:2px 0 0 10px;font-size:25px;text-align:left;font-weight:bold;cursor:pointer;color:black;background:none;
}
.cls_pos_body{
  width:100%;height:auto;padding:0 20px 0px 20px;border:0px solid lightgray;
}
.cls_shadow_dispboard { height:65px;margin-top:5px; } 
.cls_shadow_box1{ width:100%;height:100%;margin-top:0px;background:lightgray;opacity:0.3;border:0px solid orange;border-radius:8px; }
.cls_shadow_box2{ position:absolute;width:100%;height:100%;top:0px;left:0px;margin-top:0px;border:0px solid blue;color:white;background:none; }

.cls_dispboard {
  width:100%;height:100%;font-size:16px;text-align:left;padding:5px;color:black;text-shadow: 1px 1px 2px white, 0 0px 10px white, 0 0 5px white;
  margin-bottom:5px;border-radius:5px;border:0px solid white;background:none;
}
  .cls_dispboard div {
    border:0px solid black;
  }
  .cls_dispboard_ctr { float:left;width:10%;height:100%;padding:0px 0 0 10px;font-size:15px;background:none; }
  .cls_dispboard_img { float:left;width:60px;height:100%;background:none; }
    .cls_dispboard_img_in { height:100%;width:45px;border:1px solid black;border-radius:8px;background:white; }
  .cls_dispboard_candi { float:left;width:50%;height:100%;background:none; }
    .cls_dispboard_candi_1 { width:100%;height:60%;font-size:25px;padding:4px 0 0 0;background:none; }
    .cls_dispboard_candi_2 { width:100%;height:40%;font-size:15px;color:dimgray;font-weight:bold;background:none; 
       text-shadow: none;text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
    }
    .cls_dispboard_candi_3 { display:none;width:100%;height:40%;font-size:15px;color:dimgray;font-weight:bold;background:none; 
      text-shadow: none;text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
   }
  .cls_dispboard_votes { float:right;width:30%;height:100%;padding:0px 10px 0 0;font-size:45px;text-align:right;background:none; }

.cls_ds_main{ margin:0 auto;width:600px;height:auto;font-size:14px;margin-top:150px;border:1px solid white;color:black;background:white; }  
  .cls_ds_main p{ width:100%;height:50px;font-size:24px;margin-top:0px;padding:10px 0 0 0;color:white;background:dimgrey; }  
  .cls_ds_main button { width:80%;height:50px;font-size:24px;margin-top:10px; }    

  .cls_ds_main input[type="button"] { width:80%;height:50px;font-size:24px;margin-top:30px;margin-bottom:30px;color:white; }    

.cls_tbl{ cursor:pointer;overflow:auto;width:100%; }    
.cls_tbl:hover{ color:red; }  

.cls_fm_dtl{ width:100%;height:30px;padding:2px;border:0px solid green; }
  .cls_fm_dtl div { float:left;width:25%;height:100%;padding:0px;background:none; }  
  .cls_fm_dtl input[type="image"] { float:right;height:100%;padding:0px;margin-right:2px;border:1px solid gray;background:none; }  
  .cls_fm_dtl input[type="text"], .cls_fm_dtl input[type="number"] { float:left;width:75%;height:100%; }  
  .cls_fm_dtl p { float:left;width:75%;height:100%;margin:0px;padding:2px;text-align:center;border:1px solid lightgray;background:none; }  
  .cls_fm_dtl select { float:left;width:75%;height:100%;margin:0px;background:none; }  
  
#chkbox{ height:320px; }  

#head_main{ font-size:14px; }

.cls_div_map{ float:left;width:60%;height:100%;color:white;background:none; }

#lookup-box{ width:500px;height:600px; }


  .pagebreak {
      clear: both;
      page-break-after: always;
  }
  .box {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    
  }

.cls_coor_radio{
  width:100%;height:25px;margin-top:2px;padding:2px;border:0px solid black;background:none;
}
  .cls_coor_radio input{
    float:left;width:50px;height:100%;margin:0px;
  }
  .cls_coor_radio label{
    float:left;padding:0px;width:auto;height:100%;
  }

#div_header{ display:block;width:100%;height:60px;text-align:center;border:0px solid gray;padding:0px;color:white; }
#div_logo{ float:left;width:70px;height:100%;text-align:left;padding:4px;background:none; }
#hd_area{ width:40%; }  
#hd_user{ width:29%; font-size:15px; }  
#hd_datetime{ display:block;float:left;width:250px;height:100%;padding:0px;text-align:center; }  

.cls_header{ float:left;width:34%;height:100%;text-align:left;overflow:auto;padding:5px;background:none; }
    .cls_header div{ width:100%;height:60%;font-size:20px; }
    .cls_header span{ width:100%;height:40%;font-size:14px; }
.cls_header2{ float:right;width:33%;height:100%;font-size:14px;padding:5px 10px 5px 5px;background:none; }    

.cls_totals{ float:right;margin-right:10px;width:280px;height:100%;text-align:left;font-size:14px;background:none; }    
    .cls_totals div{ float:left;width:65%;height:33.3%;text-align:right;padding:0px;background:none; }
    .cls_totals span{ float:left;text-align:right;width:35%;height:33.3%;padding:0px;background:none; }

.cls_rep1{ margin-top:30px;width:100%;height:auto;overflow:auto;background:none; }    
    .cls_rep1 div{ float:left;width:40%;height:20px;max-height:40px;text-align:center;background:none; border:1px solid red; }    

.cls_area_votes_dtl{ 
      float:left;width:100%;padding:0 2px 0 2px;font-size:18px;
      height:30px;margin-top:2px;padding:1px;cursor:pointer;color:black;border:0px solid black; 
}  
  .cls_area_votes_dtl div{ float:left;width:75%;height:100%;border-radius:3px;overflow:auto;border:0px solid black;
    padding:2px 0 0 100px;text-align:left;background:none;
  }
  .cls_area_votes_dtl span{ float:right;width:25%;height:100%;
    padding:2px 0px 0 0;text-align:right;font-size:22px; 
    text-shadow: 1px 1px 2px white, 0 0px 10px white, 0 0 5px white;background:none;
  }
.cls_area_votes_dtl:hover{color:blue;}  

.cls_votes_dtl{ 
  float:left;width:50%;border:0px solid black;font-size:18px;
  height:30px;margin-top:2px;padding:1px;cursor:pointer;color:black;background:none; 
}  
  .cls_votes_dtl div{ float:left;width:65%;height:100%;border-radius:8px;border:0px solid black;
    padding:2px 0px 0px 50px;text-align:left;background:none;
  }
  .cls_votes_dtl span{ float:right;width:35%;height:100%;
    padding:1px 50px 0px 0px;text-align:right;font-size:22px; 
    text-shadow: 1px 1px 2px white, 0 0px 10px white, 0 0 5px white;background:none;
  }
  .cls_votes_dtl:hover{color:red;}  